@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f7f6ef;
  --color-secondary: #6c5234;
  --color-neutral1: #afa386;
  --color-neutral2: #546745;
  --color-accent: #4e351e;

  --font-barriecito: "Barriecito", sans;
  --font-arial: "Arial", sans-serif;
  --font-inter: "Inter", sans;
  --font-barlow-semi: "Barlow Semi Condensed", sans-serif;
}

@layer base {
  h1 {
    @apply font-barriecito text-6xl md:text-4xl lg:text-7xl;
  }
  h2 {
    @apply font-barriecito text-center text-5xl md:text-4xl lg:text-6xl;
  }

  h3 {
    @apply font-barriecito text-3xl;
  }
  p {
    @apply font-barlow-semi text-xl/normal text-black md:text-base lg:text-xl;
  }
}

@layer components {
  .nav-icon {
    @apply size-9 md:size-6;
  }

  .tech-category {
    @apply relative z-0 flex w-1/4 self-center bg-neutral-400;
  }

  .selected-category {
    @apply font-arial bg-neutral2 px-4 py-2 font-bold text-white md:bg-transparent md:text-black md:p-0;
  }

  .tech-card {
    @apply bg-secondary flex flex-nowrap gap-2 rounded-md px-3 py-2 text-center text-lg text-white;
  }

  .project-card {
    @apply bg-neutral1/50 border-neutral1 flex w-fit flex-col gap-4 border-3 px-3 py-6;
  }

  .project-card > p {
    @apply w-full p-2 text-start text-lg;
  }

  .project-image {
    @apply drop-shadow-accent shadow-accent -mb-8 h-full w-full -translate-y-10 -rotate-x-2 -rotate-y-30 rotate-z-2 skew-x-2 drop-shadow-md/50 perspective-dramatic;
  }
}
